/node_modules
/public/hot
/public/js/app-vue.js
/public/js/app-frontend.js
/public/storage
/storage/*.key
/vendor
/public/js/app-vue.js
/public/js/app-frontend.js
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laravel-echo-server.json
laravel-echo-server.lock
resources/js/app-vue.js
public/js/app-frontend.js
public/js/app-vue.js
resources/js/app-frontend.js
