// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';


.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover{
    border: 1px solid #f05e7d !important;
}

.vdp-datepicker__calendar .cell.selected{
    background: #f05e7d !important;
}

.vs-popup .dark-layout{
    background: #283046 !important;
}

.vdp-datepicker__calendar .cell.selected{
    background: #f05e7d !important;
    color: white !important;
}
